src/main/mule/hello_world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78660c83-55d5-4da8-b898-cf24f82b5789" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4058e03f-10dd-4e20-bdf0-86857615322a" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="7a8fa34b-c380-411d-a1d2-2447cdb3c9b5" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="42f8bc72-0f10-4c5c-929e-fc10e90f402c" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f855a9f4-ad6c-41ee-b384-3375d04a3c7c" file="config.yaml" />
	<flow name="getFlightByID" doc:id="9086943f-19c4-431c-a474-36f4f62f8529">
		<set-variable value="#[message.attributes.uriParams.ID]" doc:name="Set Flight ID" doc:id="4831e743-2117-46b2-9963-c8f5cee1ae7b" variableName="flightid"/>
		<validation:is-number numberType="INTEGER" doc:name="Is number" doc:id="fa095f59-9493-4fd0-b68d-19051ddb9e4f" config-ref="Validation_Config" value="#[vars.flightid]" minValue="0"/>
		<db:select doc:name="select_flight_by_ID" doc:id="f696a08b-6ff9-4e69-b75f-bf22f8e86b10" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM american
	WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"ID" : vars.flightid}]]]></db:input-parameters>
		</db:select>
		<flow-ref doc:name="common transform and log Reference" doc:id="b687d4c4-726c-4086-8e58-b86896120b60" name="commonTransformAndLog"/>
	</flow>
	<sub-flow name="commonTransformAndLog" doc:id="bf7b3ea9-854e-4a10-bd72-70d5ce59b197" >
		<ee:transform doc:name="Transform Message" doc:id="5202486c-5227-4ca4-ac9e-6ce104e98feb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5b9947f3-5f52-4ffd-b20d-f44c806bced3" message="${message.info}"/>
		<logger level="INFO" doc:name="Log fetched flights id" doc:id="b3e9a04d-4dfe-4c34-8373-3d87f03535f0" message="#[payload.ID]" />
	</sub-flow>
	<flow name="getFlightByDest" doc:id="21a19703-3b30-4e32-8e95-bd83ba7ec1d3">
		<set-variable value="#[message.attributes.queryParams.destination]" doc:name="Set Variable destination" doc:id="3b7f0539-f124-41dd-8264-b63fcaa56dbe" variableName="destination" />
		<choice doc:name="Choice" doc:id="0f62ca8a-f7a5-472f-aaea-c14965ee08c6">
			<when expression="#[vars.destination != null]">
				<db:select doc:name="select flights by dest" doc:id="f861fa96-64e7-4866-a5fe-7d0795a4cd10" config-ref="Database_Config">
					<db:sql><![CDATA[SELECT * FROM american WHERE toAirport = :destination]]></db:sql>
					<db:input-parameters><![CDATA[#["destination": vars.destination]]]></db:input-parameters>
				</db:select>
			</when>
			<otherwise>
				<db:select doc:name="Select all flights" doc:id="7e916526-fb30-40ba-a1a8-8cb04abd9175" config-ref="Database_Config">
					<db:sql><![CDATA[SELECT * FROM american]]></db:sql>
				</db:select>
			</otherwise>
		</choice>
		<flow-ref doc:name="common transform and log Reference" doc:id="c536bb6b-bef8-4665-9160-f1f1a3bcd7e4" name="commonTransformAndLog"/>
	</flow>
	<flow name="postFlight" doc:id="6350088b-49d9-4a6f-9314-9c1c9401403e" >
		<ee:transform doc:name="Transform Message" doc:id="f5febbe7-86c5-49b6-9b09-e25e829ff948" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Flight added (but not really!)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getTime" doc:id="49d83113-6b3c-4d15-b764-02655d19e914" >
		<http:listener doc:name="GET /time" doc:id="590773d0-cf42-45bf-854e-401d43935d05" config-ref="HTTP_Listener_config" path="/time" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request timeZone" doc:id="a263e532-d3ff-4020-aa17-f8340ca8cde5" config-ref="HTTP_Request_configuration" path="/Europe" responseTimeout="300000"/>
	</flow>
</mule>
