src/main/mule/hello_world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78660c83-55d5-4da8-b898-cf24f82b5789" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4058e03f-10dd-4e20-bdf0-86857615322a" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAllFlights" doc:id="0574d071-0d67-4472-8fb0-7906ca3add6a" >
		<http:listener doc:name="GET /flights" doc:id="ee85c327-c2e3-4f75-a053-084d13a42f8d" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="select all flights" doc:id="cbeabf1e-6c70-4cdf-8aa6-f81cea68c445" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="62fab712-5680-416c-9ada-f56d56a95018" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log fetched flights id" doc:id="2309b11c-7412-4be9-9ee8-8b748f79eb00" message="#[payload.ID]" />
	</flow>
	<flow name="getFlightByID" doc:id="9086943f-19c4-431c-a474-36f4f62f8529">
		<http:listener doc:name="GET /flights/{ID}" doc:id="d92e4857-9484-47b1-9a1d-59c1048f72f4" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<set-variable value="#[message.attributes.uriParams.ID]" doc:name="Set Flight ID" doc:id="4831e743-2117-46b2-9963-c8f5cee1ae7b" variableName="flightid"/>
		<db:select doc:name="select_flight_by_ID" doc:id="f696a08b-6ff9-4e69-b75f-bf22f8e86b10" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM american
	WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"ID" : vars.flightid}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5202486c-5227-4ca4-ac9e-6ce104e98feb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log fetched flights id" doc:id="b3e9a04d-4dfe-4c34-8373-3d87f03535f0" message="#[payload.ID]" />
	</flow>
	<flow name="postFlight" doc:id="6350088b-49d9-4a6f-9314-9c1c9401403e" >
		<http:listener doc:name="POST /flights" doc:id="82162c18-8b47-4cff-b774-220e3dd0790b" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="f5febbe7-86c5-49b6-9b09-e25e829ff948" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Flight added (but not really!)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightByDest" doc:id="21a19703-3b30-4e32-8e95-bd83ba7ec1d3" >
		<http:listener doc:name="GET /flights?{destination}" doc:id="607642b1-c5f2-46e2-901c-f1555f4ef3bb" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET" />
		<set-variable value="#[message.attributes.queryParams.destination]" doc:name="Set Variable destination" doc:id="3b7f0539-f124-41dd-8264-b63fcaa56dbe" variableName="destination" />
		<db:select doc:name="select flights by dest" doc:id="8eb642cb-0733-47da-9941-44a726dc0b87" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM american where toAirport=:destination]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"destination" : vars.destination
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fa7dbc2d-01dc-47ed-a347-89b0535631b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log fetched flights id" doc:id="b991bec2-de2a-46bf-b8ea-70fefb9d4559" message="#[payload.ID]" />
	</flow>
</mule>
