src/main/mule/hello_world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78660c83-55d5-4da8-b898-cf24f82b5789" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4058e03f-10dd-4e20-bdf0-86857615322a" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAllFlights" doc:id="0574d071-0d67-4472-8fb0-7906ca3add6a" >
		<http:listener doc:name="GET /flights" doc:id="ee85c327-c2e3-4f75-a053-084d13a42f8d" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="select all flights" doc:id="cbeabf1e-6c70-4cdf-8aa6-f81cea68c445" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="62fab712-5680-416c-9ada-f56d56a95018" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log fetched flights id" doc:id="2309b11c-7412-4be9-9ee8-8b748f79eb00" message="#[payload.ID]" />
	</flow>
</mule>
